<div class="container-fluid" style="margin-top: 80px;">
  <p id="notice"><%= notice %></p>
  <div class="text-center">
    <h1>Lista de Empresas</h1>
    <hr>
    <div class="panel mb-60">
      <%= form_tag(businesses_path, method: :get) do %>
        <div class="form-group">
          <%= text_field_tag :term, params[:term], placeholder: 'Busque pela cidade. Exemplo: Taquara', class: 'form-control form-control-lg' %>
          <br>
          <%= submit_tag 'Buscar', name: nil, class: 'btn btn-green btn-lg' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            <% @businesses.each do |business| %>
              <div class="col-md-4 col-sm-6 text-center">
                <%= link_to business_path(business), target: 'blank', class: 'portfolio-box' do %>
                  <div class="panel mb-0">
                    <h2><%= business.fantasy_name %></h2>
                    Cidade: <%= business.address_city %>
                    <br>
                    Estado: <%= business.address_state %>
                  </div>
                <% end %>
              </div>
            <% end %>
        </div>
    </div>
</section>
