<div class="container" style="margin-top: 80px;">
  <div class="row">
    <div class="col-xs-12 col-md-8 panel-business">
      <div class="row">
        <h1 class="text-center">
            <%= @business.fantasy_name %>
        </h1>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <strong>Razão Social:</strong>
          <%= @business.company_name %>
        </div>
        <div class="col-xs-12 col-sm-4">
          <strong>CNPJ:</strong>
          <%= @business.cnpj %>
        </div>
        <div class="col-xs-12 col-sm-4">
          <strong>Site:</strong>
          <%= @business.website %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <strong>Email:</strong>
          <%= @business.email %>
        </div>
        <div class="col-xs-12 col-sm-4">
          <strong>Telefone:</strong>
          <%= @business.telephone %>
        </div>
        <div class="col-xs-12 col-sm-4">
          <strong>Rua:</strong>
          <%= @business.address_street %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <strong>Número:</strong>
          <%= @business.address_number %>
        </div>
        <div class="col-xs-12 col-sm-4">
          <strong>Complemento:</strong>
          <%= @business.address_complement %>
        </div>
        <div class="col-xs-12 col-sm-4">
          <strong>Bairro:</strong>
          <%= @business.address_neighborhood %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <strong>Cidade:</strong>
          <%= @business.address_city %>
        </div>
        <div class="col-xs-12 col-sm-4">
          <strong>Estado:</strong>
          <%= @business.address_state %>
        </div>
        <div class="col-xs-12 col-sm-4">
          <strong>CEP:</strong>
          <%= @business.address_zipcode %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <strong>Observação:</strong>
          <%= @business.observation %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <%= link_to 'Voltar', :back %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 panel-business">
      <div class="js-contact-form-wrapper">
        <%= render partial: 'contacts/form', locals: { contact: @contact } %>
      </div>
    </div>
  </div>
</div>
