<h1> Novo contato no site! </h1>

<p>Nome:
  <strong>
    <%= @name %>
  </strong>
</p>

<p>Email:
  <strong>
    <%= @email %>
  </strong>
</p>

<p>Assunto:
  <strong>
    <%= @subject %>
  </strong>
</p>

<p>Mensagem:
  <%= @body %>
</p>

<p>Imagem:
  <img src="<%= @photo %>">
</p>
